.git
.github
.vscode
.ipynb_checkpoints
.DS_Store
node_modules
dist
.venv-react
__pycache__
flopy_interactive/__pycache__
flopy_interactive/data/__pycache__
dash
Tutorials
images
notebook.ipynb
*.log
*.pyc
ckan_data
docker-output
barton_springs_2001_2010average.wel
barton_springs_updated.wel
WEL.chk
